[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
colorama = "*"
tweepy = "*"
requests = "~=2.32.0"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.9"

[scripts]
get_items = "python3 item_scooper.py"
twitter_bot = "python3 main.py"
